$toppy--base-font-size: 13px;
$toppy--base-font-size-xl: 16px;
$toppy--app-name: 'TOPPY';
$toppy--debug: false;
$toppy--font-family: 'Rubik', acumin-pro, 'Inconsolata', 'Inter UI', 'Nunito Sans';
$toppy--font-family-headings: 'acumin-pro';
$toppy--font-family-monospace: 'Roboto mono', 'calling-code', 'Courier New', 'Lucida Console', Monaco, Courier,
  monospace;

$toppy--colors: (
  'bg': #fafafa,
  'text': #88889a,
  'heading': #9590d4,
  'border': #e9edff,
  'dark': #585c6d,
  'shadow': #dddde9,
  'primary': #7d61af,
  'secondary': #ef8fb7,
  'success': #3fc782,
  'warning': #f78f1e,
  'danger': #e3505a,
  'info': #03a9f4,
  'yellow': #cabcb1,
  'alt': #363344
);

$toppy--font-sizes: (
  'sm': 0.9rem,
  'md': 1rem,
  'lg': 1.4rem,
  'xl': 4rem,
  'h1': 3.2rem,
  'h2': 2rem,
  'h3': 1.75rem,
  'h4': 1.5rem,
  'h5': 1.25rem,
  'h6': 1rem
);

$toppy--border-rad: 3px;
$toppy--icons-font: 'toppy';
$toppy--icon-font-path: './icons';

$toppy--grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1600px
);
