/* well here comes, some temperory fix styles, which will be removed later */
code {
  font-size: 0.9rem;
}
.tooltip {
  background: #673ab7;
  padding: 2px 9px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  text-shadow: 0px 1px 1px #3f266b;
}

.table thead th {
  font-weight: 700;
  text-transform: uppercase;
}

app-section {
  display: block;
  margin-bottom: 3rem;
}
app-sub-section {
  display: block;
  margin-bottom: 4rem;
}

h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}
.brand h2 {
  background: #3d3844;
  color: #fff;
  padding: 0 12px;
}

.drag-element-holder {
  width: calc(9rem + 2px);
  border: 1px dashed #aaa;
  display: inline-block;
  position: relative;
  height: 52px;
  box-sizing: border-box;
}
.drag-element {
  background: #e6e8f3;
  padding: 1rem;
  position: absolute;
  width: 9rem;
  height: 50px;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  cursor: grab;
}
