/* well here comes, some temperory fix styles, which will be removed later */
code {
  font-size: 0.9rem;
}
.tooltip {
  background: #3f51b5;
  padding: 2px 9px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  text-shadow: 0px 1px 1px #263067;
  text-align: center;
  margin: 2px;
}

.table thead th {
  font-weight: 700;
  text-transform: uppercase;
}

app-section {
  display: block;
  margin-bottom: 3rem;
}
app-sub-section {
  display: block;
  margin-bottom: 4rem;
}

p {
  margin-top: 1rem;
}

h3 {
  margin: 2rem 0;
  font-weight: 300;
  .toppy-icon {
    color: #e91e63;
  }
  a {
    text-decoration: none;
    color: clr('dark');
  }
  a:hover {
    text-decoration: none;
    color: clr('primary');
  }
}
h4 {
  margin: 1rem 0 !important;
  a {
    text-decoration: none;
    color: clr('dark');
  }
  a:hover {
    text-decoration: none;
    color: clr('primary');
  }
}
h5 {
  margin-top: 3rem;
  color: #383c56;
  font-family: 'Rubik';
  font-size: 1.2rem;
  a {
    text-decoration: none;
    color: clr('dark');
  }
  a:hover {
    text-decoration: none;
    color: clr('primary');
  }
}

strong {
  font-weight: 500;
  color: clr('dark');
}

.pointer {
  cursor: pointer;
}

td code:nth-child(2) {
  color: rgba(0, 0, 0, 0.49);
}

td em {
  color: clr('dark');
  font-style: normal;
}

.brand p span {
  color: clr('dark');
  position: relative;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

.hero {
  border-bottom: 2px solid #d1d0e0;
}

.selectedLabel {
  color: #3fc782;
  font-weight: 500 !important;
}

.drag-element-holder {
  width: 74px;
  border: 1px dashed transparent;
  display: inline-block;
  position: relative;
  height: 74px;
  box-sizing: border-box;
  margin-right: 1rem;
}
.drag-element {
  position: absolute;
  // height: 100px;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  cursor: -webkit-grab;
  cursor: grab;
}

app-dropdown-example {
  display: flex;
  align-items: center;
}

.dropdown-field {
  width: 200px;
  border: 1px solid #d1d1deb8;
  border-radius: 3px;
  padding: 3px;
  background: #fff;
  box-shadow: 0px 1px 24px inset #d6d7dc63;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  img {
    width: 30px;
  }
  &:hover {
    box-shadow: 0px 1px 24px #d6d7dc63;
  }
  &:after {
    content: '\e910';
    font-family: $toppy--icons-font;
    transform: rotate(270deg);
    display: inline-block;
    position: absolute;
    right: 10px;
    padding: 5px;
    transition: all 0.5s ease;
  }

  &.open:after {
    transform: rotate(90deg);
  }
}

ul.dropdown-ist {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  background: #fff;
  border: 1px solid #dedee7;
  border-radius: 3px;
  margin-top: 2px;
  li {
    padding: 4px;
    cursor: pointer;
  }
  li.selected {
    background: #f8f8f9;
    font-weight: 500;
  }
  li:hover {
    background: #f8f8f9;
    color: clr('dark');
  }
  li:not(:last-child) {
    border-bottom: 1px solid #dedee7;
  }
  li img {
    width: 30px;
  }
}

.text-selection {
  display: inline-block;
  padding: 1rem 2rem;
  span {
    font-weight: 500;
    color: clr('dark');
    text-decoration: underline;
    text-decoration-style: double;
    cursor: pointer;
  }
}

ul.horizontal-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  background: #fff;
  border: 1px solid #dedee7;
  border-radius: 5rem;
  margin-top: 2px;
  display: flex;
  li {
    padding: 4px;
  }
  li img {
    width: 25px;
  }
}

.ribbon {
  background: clr('primary');
  padding: 1rem;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  color: #fff;
  p {
    padding: 0 10px;
  }
}

p > code {
  font-size: 11px;
  font-family: Roboto mono;
  background: #3fc782;
  color: #ffffff;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 3px;
}

.sidemenu {
  margin: 2rem 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 25%;
  }
  a {
    text-decoration: none;
  }

  ul li a {
    font-size: 1rem;
    color: #49484e !important;
    padding: 15px 0;
    display: block;
    border-radius: 3px;
    font-family: 'acumin-pro';
    position: relative;
    cursor: pointer;
    .toppy-icon {
      font-size: 1.1rem;
      display: inline-block;
      margin-right: 10px;
      opacity: 0.8;
    }
    &:after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      /* background: red; */
      border: 0;
      border-top: 1px dashed #d2d5e6;
    }
    &:hover,
    &.active {
      color: #7d61af !important;
      font-weight: 700;
      // background: #f7f7f7;
      .toppy-icon {
        color: #e91e63;
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}

.sidebar-fixed .sidemenu {
  position: fixed;
  top: 0rem;
  width: 100%;
  max-width: 290px;
}
