{
  "branch": "master",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "docs", "scope": "README", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "type": "style", "release": "patch" }
        ],
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "chmod a+x ./bin/version.sh && ./bin/version.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "package-lock.json", "CHANGELOG.md", "src/environments/version.ts"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "dist/toppy",
        "pkgRoot": "dist/toppy"
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/release-notes-generator"
  ]
}
