{
  "branch": "master",
  "plugins": [
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "npm run archive:app -- ${nextRelease.version}",
        "prepareCmd": "chmod a+x ./bin/version.sh && ./bin/version.sh ${nextRelease.version} && cp -r ./README.md ./dist/toppy && npx json -I -f package.json -e 'this.version=\"${nextRelease.version}\"'",
        "successCmd": "npm run postpublish -- ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "feat", "release": "minor" },
          { "type": "fix", "release": "patch" },
          { "type": "perf", "release": "patch" },
          { "breaking": true, "release": "major" },
          { "revert": true, "release": "patch" },
          { "type": "docs", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "type": "style", "release": "patch" }
        ],
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
        }
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "dist/toppy",
        "pkgRoot": "dist/toppy"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "projects/toppy/package.json",
          "package.json",
          "package-lock.json",
          "CHANGELOG.md",
          "docs/environments/version.ts",
          "docs/assets/archived-versions.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ],
  "preset": "angular"
}
