.comp.hero {
  background: #24283c;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-weight: 300;
    color: #fff;
  }
  p {
    color: #aaa;
  }
}
