.modal-container {
  background: #fff;
}

.modal-header {
  padding: 20px;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
  background: #fafafb;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  text-align: right;
  padding: 20px;
}
