$icons: (
  alert-circle: '\e902',
  alert-triangle: '\e904',
  arrow-left: '\e910',
  arrow-right: '\e912',
  check-circle: '\e92c',
  copy: '\e944',
  edit: '\e958',
  external-link: '\e95b',
  file-text: '\e964',
  filter: '\e966',
  github: '\e970',
  hash: '\e975',
  heart: '\e977',
  help-circle: '\e978',
  home: '\e979',
  link: '\e982',
  loader: '\e986',
  maximize-2: '\e98e',
  menu: '\e98f',
  minimize-2: '\e995',
  more-horizontal: '\e99b',
  navigation-2: '\e9a0',
  plus-circle: '\e9b2',
  radio: '\e9b7',
  repeat: '\e9ba',
  rss: '\e9be',
  settings: '\e9c4',
  share-2: '\e9c6',
  sliders: '\e9d1',
  tag: '\e9db',
  terminal: '\e9dd',
  twitter: '\e9ea',
  users: '\e9f6',
  x: '\ea02',
  x-circle: '\ea03',
  zap: '\ea06'
);

@font-face {
  font-family: 'toppy';
  font-style: normal;
  font-weight: normal;
  src: url('#{$toppy--icon-font-path}/toppy.ttf?olqd7c') format('truetype'),
    url('#{$toppy--icon-font-path}/toppy.woff?olqd7c') format('woff'),
    url('#{$toppy--icon-font-path}/toppy.svg?olqd7c#choosy') format('svg');
}

.toppy-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $toppy--icons-font !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-transform: none;
}
@each $icon in $icons {
  .icon-#{nth($icon, 1)} {
    &:before {
      content: nth($icon, 2);
    }
  }
}
