h2 {
  font-weight: 300;
  margin: 1rem 0;
  display: inline-block;
  color: clr('heading');
}

h4 {
  letter-spacing: -1px;
}

p {
  margin: 1rem 0;
}
a {
  color: #3f51b5;
  font-weight: 700;
  text-decoration: underline;
}
