.box {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #e91e63;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 0.2rem;
  color: #fff;
}

p {
  margin: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
