<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="sidebar">
        <div class="brand d-flex flex-column justify-center align-items-center my-5">
          <h2>Blink</h2>
          <p>Angular overlay library</p>
        </div>
        <ul class="list-group comp menu">
          <li class="list-group-item">Introduction</li>
          <li class="list-group-item">Installation</li>
          <li class="list-group-item">Features</li>
          <li class="list-group-item">Positions</li>
          <li class="list-group-item">Communication</li>
          <li class="list-group-item">Issues</li>
          <li class="list-group-item">Contribution</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <app-section title="Introduction">
        <div class="content">
          <p>Blink is a tiny library to create overlays in Angular framework. Overlays are used in `tooltip`, `modal`,
            `sidemenu`, `popup`, `context menu`, `toaster`, `alerts`, `dropdowns`, `datepicker`, `popovers` etc </p>
        </div>
      </app-section>
      <app-section title="Installation">
        <div class="content">

          <div class="step">
            <div>Step one:</div>
            <markdown ngPreserveWhitespaces [src]="'./assets/md/installation.md'">
              # Markdown
            </markdown>
            <!-- <ngx-prism language="shell" [code]="code.NPM_INSTALL"></ngx-prism> -->
          </div>
          <div class="step">
            <div>Step two:</div>
            <div>
              `import BlinkModule from 'blink'`
            </div>
            <div>
              <!-- <ngx-prism language="javascript" [code]="code.INSTALL"></ngx-prism> -->
            </div>
          </div>
          <div class="step">
            <div>Step three:</div>
          </div>
          <div class="step">
            <div>Step four:</div>
          </div>
        </div>
      </app-section>
      <app-section title="Features">

      </app-section>
      <app-section title="Positions">
        <app-sub-section title="Relative position">
          <app-relative-position-example></app-relative-position-example>

        </app-sub-section>
        <app-sub-section title="Global position">
          <app-global-position-example></app-global-position-example>

        </app-sub-section>
        <app-sub-section title="Slide position">
          <app-slide-position-example></app-slide-position-example>

        </app-sub-section>
        <app-sub-section title="Fullscreen position">
          <app-fullscreen-position-example></app-fullscreen-position-example>

        </app-sub-section>
      </app-section>
      <app-section title="Communication">

      </app-section>
      <app-section title="Contribution">

      </app-section>
      <app-section title="Issues">

      </app-section>
    </div>
  </div>
</div>