@if $toppy--current-theme== 'DARK' {
  $toppy--font-family: 'Barlow';
  $toppy--border-rad: 2px;
  $toppy--colors-basic: (
    'bg': #ebeeef,
    'bg-alt': #ddd,
    'bg-alt-dark': #dee1e3,
    'text': #808080,
    'heading': #435257,
    'subheading': #999,
    'subtext': #999,
    'border': #cbcbcb,
    'para': #808080,
    'dark': #000
  );
  $toppy--colors-theme: (
    'primary': #2196f3,
    'primary-o': #1976d2,
    'secondary': #dbdbdb,
    'success': #3fc782,
    'warning': #f78f1e,
    'error': #e3505a,
    'danger': #e3505a,
    'info': #03a9f4,
    'dark': #2196f3,
    'subheading': #333,
    'link-alt': #999
  );
  $toppy--colors: (
    'basic': $toppy--colors-basic,
    'theme': $toppy--colors-theme
  );

  $toppy--sidebar-bg: #3c444d;
}
