.blink-page-title {
  font-size: 1.2rem;
  color: clr('heading');
  .blink-icon {
    opacity: 0.8;
  }
}

.blink-pre {
  font-family: $blink--font-family-monospace;
  color: clr('dark');
  font-size: 1rem;
}
